<!DOCTYPE html>
<html ng-app="userSpecificModule">   <!-- ng-app ist eine Direktive //-->
<head lang="de" ng-controller="IndexCtrl">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">

    <title>{{title}}</title>

    <!-- Sylesheets -->
    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Eigene Stylesheets -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
    <div class="container" ng-controller="pageCtrl">
        <!-- Header -->
        <div class="navbar navbar-fixed-top myHead" role="navigation">
            <div ng-show="data.loggedIn">
                <div class="col-sm-6"><begruessung>Willkommen zur&uuml;ck, <b>{{(data.user.PreName) + " "+ (data.user.LastName) + "!"}}</b></begruessung></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-1"><button ng-click="onLogoutBtnClick()" type="button" class="btn btn-default btn-logout">Logout</button></div>
                <div class="col-sm-2">
                    <a href="" tooltip="Profilbild &auml;ndern" popover-trigger="mouseenter" tooltip-placement="left">
                        <img ng-src="{{data.user.PicURL}}" alt="Profilbild" class="profilpic img-circle" data-toggle="modal" data-target="#changeProfilePicModal" >
                    </a>
                </div>

            </div>

            <div ng-hide="data.loggedIn">
                <login-bar></login-bar>
            </div>
        </div>

        <!-- Navigationsbar -->
        <nav-bar></nav-bar>

        <!--Hier werden die Bodys eingefügt//-->
        <div class="content" ng-view></div>

        <!--Modals (PopUp) -->
        <div ng-include="'view/modals/modal_changeProfilPic.html'"></div>
        <div ng-include="'view/modals/modal_addPage.html'"></div>
        <div ng-include="'view/modals/modal_removePage.html'"></div>

    </div>

    <!-- JavaScripts einbinden -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angularjs/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="bower_components/cryptojslib/rollups/md5.js"></script>

    <!-- Angula Module -->
    <script src="js/app.js"></script>

    <!-- Angular Controller -->
    <script src="js/controller/controller.page.js"></script>
    <script src="js/controller/controller.content.js"></script>
    <script src="js/controller/controller.index.js"></script>
    <script src="js/controller/controller.weather.js"></script>

    <!-- Angular Services -->
    <script src="js/services/service.weather.js"></script>
    <script src="js/services/service.page.js"></script>
    <script src="js/services/service.user.js"></script>

    <!-- Angular Directives -->
    <script src="js/directives/directive.login.js"></script>
    <script src="js/directives/directive.navbar.js"></script>
</body>

</html>