<div ng-controller="weatherCtrl">

    <div class="row">
        <div class="col-md-8">
            <h3>
                Das Wetter für <b>
                    {{data.weather.info[content.ContentOption].city.name}}
                </b>
                am {{data.date | date:fullDate}}
            </h3>
        </div>
        <div class="col-md-4">
            {{data.weather.info[content.ContentOption].city.credit.text}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h3>06:00 Uhr</h3>
            <img ng-src="img/wetter/icons/d_{{data.weather.info[content.ContentOption].city.forecast[today]['06:00']['w'] | number}}_M.png" >
            <p>{{data.weather.info[content.ContentOption].city.forecast[today]['06:00']['w_txt']}}</p>
            <p>Min: {{data.weather.info[content.ContentOption].city.forecast[today]['06:00']['tn']}} °C</p>
            <p>Max: {{data.weather.info[content.ContentOption].city.forecast[today]['06:00']['tx']}} °C</p>
        </div>
        <div class="col-md-3">
            <h3>11:00 Uhr</h3>
            <img ng-src="img/wetter/icons/d_{{data.weather.info[content.ContentOption].city.forecast[today]['11:00']['w'] | number}}_M.png" >
            <p>{{data.weather.info[content.ContentOption].city.forecast[today]['11:00']['w_txt']}}</p>
            <p>Min: {{data.weather.info[content.ContentOption].city.forecast[today]['11:00']['tn']}} °C</p>
            <p>Max: {{data.weather.info[content.ContentOption].city.forecast[today]['11:00']['tx']}} °C</p>
        </div>
        <div class="col-md-3">
            <h3>17:00 Uhr</h3>
            <img ng-src="img/wetter/icons/d_{{data.weather.info[content.ContentOption].city.forecast[today]['17:00']['w'] | number}}_M.png" >
            <p>{{data.weather.info[content.ContentOption].city.forecast[today]['17:00']['w_txt']}}</p>
            <p>Min: {{data.weather.info[content.ContentOption].city.forecast[today]['17:00']['tn']}} °C</p>
            <p>Max: {{data.weather.info[content.ContentOption].city.forecast[today]['17:00']['tx']}} °C</p>
        </div>
        <div class="col-md-3">
            <h3>23:00 Uhr</h3>
            <img ng-src="img/wetter/icons/d_{{data.weather.info[content.ContentOption].city.forecast[today]['23:00']['w'] | number}}_M.png" >
            <p>{{data.weather.info[content.ContentOption].city.forecast[today]['23:00']['w_txt']}}</p>
            <p>Min: {{data.weather.info[content.ContentOption].city.forecast[today]['23:00']['tn']}} °C</p>
            <p>Max: {{data.weather.info[content.ContentOption].city.forecast[today]['23:00']['tx']}} °C</p>
        </div>
    </div>

</div>