<textarea ng-model="content.ContentOption" class="form-control" rows="10" placeholder="Geben Sie hier ihren Text ein!" ></textarea>
<button ng-click="inputTextChanged(content._id)" ng-class="'btn btn-sm {{data.saveTextButtonClass}} btn-menue'">Speichern</button>