<form class="form-horizontal col-lg-6 loginfield" role="form">
    <div ng-class="data.loginBtnClass">
        <label for="username" class="control-label col-sm-2">Login</label>
        <div class="col-sm-3">
            <input type="text" id="username" class="form-control" placeholder="Username"  ng-model="data.username">
        </div>
        <div class="col-sm-3">
            <button ng-click="onLoginBtnClick()" type="button" class="btn btn-default">Anmelden</button>
        </div>
    </div>
</form>