<div class="navbar navbar-default navbar-fixed-top myNavbar" role="navigation" bs-navbar  >
    <div class="container-fluid">
        <div  class="navbar-header">
            <div ng-show="data.loggedIn">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#home">UserSpecificWebApp</a>
        </div>
        <div class="navbar-collapse collapse" >
            <ul ng-repeat="page in pages | limitTo:10" class="nav navbar-nav"> <!-- höchstens 10 Menüeinträge -->
                <li data-match-route="/page/{{page._id}}"><a href="#/page/{{page._id}}" class="menuepunkt">{{page.PageName}}</a></li>
            </ul>
            <button type="button" class="btn btn-default btn-xs btn-menue" tooltip="Seite hinzuf&uuml;gen" popover-trigger="mouseenter" data-toggle="modal" data-target="#addPageModal" ng-show="data.loggedIn">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-default btn-xs btn-menue" tooltip="Seite entfernen" popover-trigger="mouseenter" data-toggle="modal" data-target="#removePageModal" ng-show="data.loggedIn && data.showRemovePageButton">
                <span class="glyphicon glyphicon-minus"></span>
            </button>

        </div>
    </div>
</div>