/**
 * Created by Christopher Rost on 23.10.2014.
 * christopher.rost@hft-leipzig.de
 * (c) Christopher Rost
 */

/*Buttons*/
.btn-remove {
    float: right;
}
.btn-menue {
    margin-top: 13px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
}
.btn-logout {
    margin-top: 3em;
}

/*Head*/
.myHead {
    background-color: #7ac142;
    height: 10em;
    padding: 10px;
}
.myHead div .col-sm-6 {
    margin-top: 3em;
}
.myNavabr {
    background-color: #808084;
}
.navbar-default {
    margin-top: 10em;
}
.profilpic {
    width: 8.5em;
    height: 8.5em;
    float: right;
}
.loginfield {
    margin-top: 2.5em;
}
.loginfield div label {
    margin-top: -.25em;
    font-size: 20px;
}
.login {
    margin-top: 20%;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #0f0f0f;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a{
    color: #0f0f0f;
}
.navbar-default .navbar-brand{
    color: #0f0f0f;
}


/* Modals */
.img-preview {
    display: block;
    width: 160px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
}
.addPics img {
    width: 160px;
    height: 160px;
}
.img-checked {
    border-color: #357ebd;
    border-width: 3px;
}

/* Contents */
.piccontent {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.content {
    border-radius: 5px;
    margin-top: 15em;
    margin-bottom: 40px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    overflow-y: auto;
}
.jumbotron {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

/* Misc */
textarea {
    resize: none;
}
begruessung {
    font-size: 30px;
}

/*Tooltip fuer Profilbild*/
.tooltip.left {
    margin-top: 50px;
}

/*Menüpunkte*/
.menuepunkt {
    font-size: 16px;
}

/*MEDIA QUERY --- Smartphone*/
@media only screen and (max-width: 640px) {

    .myHead {
        position: absolute;
    }

    .profilpic {
        margin-top: -4em;
        width: 5em;
        height: 5em;
    }

    .navbar-fixed-top {
        position: absolute;
    }

    begruessung {
        font-size: 18px;
    }

    .piccontent {
        width: 100%;
    }

    .loginfield {
        margin-top: 0.5em;
        text-align: center;
    }

    .loginfield div label {
        font-size: 19px;
    }

    .loginfield div input {
        margin-bottom: 10px;
    }

    .btn-logout {
        margin-top: 1em;
    }

    .myHead div .col-sm-6{
        margin-top: 0;
    }
}