    <div class="panel-body">
        <div ng-repeat="content in page.contents">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{content.Title}}
                    <button type="button" class="btn btn-default btn-xs btn-remove" ng-click="remContent(content._id)" tooltip="Content entfernen" popover-trigger="mouseenter" tooltip-placement="right">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <div ng-include="'view/contents/content_' + content.ContentType + '.html'"></div>
                </div>
            </div>
        </div>
        <button type="button" data="1" class="btn btn-default btn-lg" data-toggle="modal" data-target="#addContentModal" tooltip="Neuen Content hinzuf&uuml;gen" popover-trigger="mouseenter" tooltip-placement="right">
            <span class="glyphicon glyphicon-plus"></span>
        </button>

    </div>

    <div ng-include="'view/modals/modal_addContent.html'"></div>
