<div class="jumbotron">
    <h1>User Specific WebApp</h1>
    <p>Willkommen {{data.user.PreName}} bei der UserSpecificWebApp!
        Hier können Sie ihre benutzerspezifische Applikation einrichten. Viel Spaß!</p>
</div>