<div class="modal fade" id="removePageModal" tabindex="-1" role="dialog" aria-labelledby="removePageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="removePageModalLabel">Seite entfernen</h4>
            </div>
            <div class="modal-body">
                <p>Sind Sie sicher dass Sie die Seite <b>{{getActivePageName()}}</b> entfernen möchten?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                <button type="submit" class="btn btn-primary" ng-click="onRemovePageClick()" data-dismiss="modal">Entfernen</button>
            </div>
        </div>
    </div>
</div>