<div class="modal fade" id="changeProfilePicModal"  tabindex="-1" role="dialog" aria-labelledby="changeProfilePicModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="changeProfilePicModalLabel">Profilbild ändern</h4>
            </div>
            <form name="profilePicForm" ng-submit="profilePicForm.$valid && onProfilPicChangeClick()" novalidate>
                <div class="modal-body">
                    <p>Bitte geben Sie die URL zu ihrem neuen Profilbild ein:</p>
                    <input type="url" ng-model="data.profilePicURL" name="picUrl" class="form-control" placeholder="http://www.bildurl.de/bild.jpg" required>
                    <p>Vorschau:</p>
                    <img ng-src="{{data.profilePicURL}}" alt="Vorschau" class="img-preview img-thumbnail">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>

                    <button type="button" class="btn btn-primary" ng-click="onProfilPicChangeClick()" ng-disabled="!profilePicForm.$valid" data-dismiss="modal">Speichern</button>

                </div>
            </form>
        </div>
    </div>
</div>