<div class="modal fade" id="addPageModal" tabindex="-1" role="dialog" aria-labelledby="addPageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addPageModalLabel">Neue Seite hinzufügen</h4>
            </div>
            <form name="addPageForm" ng-submit="addPageForm.$valid && onAddPageClick()" novalidate>
                <div class="modal-body">
                    <p>Bitte geben Sie die den Namen der neuen Seite ein:</p>
                    <input type="text" ng-model="data.newPageName" ng-minlength="3" ng-maxlength="12" name="newPageName" class="form-control" placeholder="Mein Menüpunkt" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>

                    <button type="submit" class="btn btn-primary" ng-click="onAddPageClick()" ng-disabled="!addPageForm.$valid" data-dismiss="modal">Hinzufügen</button>

                </div>
            </form>
        </div>
    </div>
</div>