<div class="modal fade bs-example-modal-lg" id="addContentModal" tabindex="-1" role="dialog" aria-labelledby="addContentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addContentModalLabel">Neuen Content hinzufügen</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="data.radioSelect" value="text" checked>
                                TextContent
                            </label>
                        </div>
                    </div>
                    <div class="panel-body">
                        Ein Textfeld für ihre individuellen Notizen!
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="data.radioSelect" value="weather">
                                WeatherContent
                            </label>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Dieser Content zeigt ihnen das aktuelle Wetter für ihren Wunschort an!</p>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ort</label>
                            <div class="col-sm-10">
                                <input ng-disabled="!(data.radioSelect === 'weather')" ng-model="data.weather.inputLocation" ng-minlength="2" ng-maxlength="20" name="weatherLocation" class="form-control" placeholder="Berlin">
                            </div>
                        </div>
                        <p><a ng-disabled="!data.weather.inputLocation" class="btn btn-primary" ng-click="makeWeatherSearch()">Suche</a></p>
                        <div ng-repeat="result in data.weather.tempResults">
                            <div class="row">
                                <div class="col-sm-1">
                                    <input ng-model="data.weather.decision" type="radio" value="{{result.city_code}}">
                                </div>
                                <div class="col-sm-4">
                                    {{result.name}}
                                </div>
                                <div class="col-sm-4">
                                    {{result.adm_1_code}}
                                </div>
                                <div class="col-sm-3">
                                    {{result.city_code}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="radio">
                            <label>
                                <input ng-model="data.radioSelect" type="radio" value="picture">
                                PictureContent
                            </label>
                        </div>
                    </div>
                    <div class="panel-body addPics">
                        <img src="img/pic_000.jpg" alt="Bild" ng-class="{'img-thumbnail': true, 'img-checked': data.picChecked === 0}" ng-click="setPicChecked(0)">
                        <img src="img/pic_001.jpg" alt="Bild" ng-class="{'img-thumbnail': true, 'img-checked': data.picChecked === 1}" ng-click="setPicChecked(1)">
                        <img src="img/pic_002.jpg" alt="Bild" ng-class="{'img-thumbnail': true, 'img-checked': data.picChecked === 2}" ng-click="setPicChecked(2)">
                        <img src="img/pic_003.jpg" alt="Bild" ng-class="{'img-thumbnail': true, 'img-checked': data.picChecked === 3}" ng-click="setPicChecked(3)">
                        <img src="img/pic_004.jpg" alt="Bild" ng-class="{'img-thumbnail': true, 'img-checked': data.picChecked === 4}" ng-click="setPicChecked(4)">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                <button ng-disabled="!data.radioSelect" ng-click="onAddContentClick()" type="submit" class="btn btn-success"  data-dismiss="modal">Content Hinzufügen</button>

            </div>
        </div>
    </div>
</div>